/*ADD QUESTION*/
textarea{
	height: 100px;
	width: 100%;
}
label{
	text-align: left!important;
}

.control-group label, .control-group input {
	width: 100%;
}
.mainContainer, .adminContainer{
	margin-top: 50px;
	margin-bottom: 100px;
}
#submit{
	margin-top: 20px;
	background: #14C5A2;
	height: 50px;
	color: white;
	font-size: 18px;
	border:0;
}
.control-group {
	padding: 0;
}
legend{
	border-color: #14C5A2!important;
	border-width: 2px;
}
hr {
  border: 0;
  clear:both;
  display:block;          
  background-color:#14C5A2;
  height: 2px;
}

/*ADMIN PANEL*/
.adminContainer h1{
	text-align: center;
}
.borded{
	border: 2px solid black;
}
.centered{
	text-align: center;
}